.active {
	color: orange;
}

#navlinks .page:hover {
	transform: translateY(-2px);
	text-decoration: underline;
	text-decoration-color: orange;
	text-decoration-thickness: 1.5px;
	text-underline-offset: 5px;
	transition: 0.2s;
}

#hamburger {
	display: none;
}

#header-container {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

#searchInput {
	width: 52%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 800px) {
	#navlinks {
		flex-direction: column;
		position: absolute;
		top: 90px;
		height: calc(100vh - 90px);
		padding: 40px 30px;
		align-items: start;
		width: 200px;
		z-index: -1;
		transition: all 0.4s;
		filter: drop-shadow(0 35px 35px rgba(0, 0, 0, 0.25));
	}

	#navlinks a:hover {
		transform: translateY(0);
	}

	#hamburger {
		display: block;
	}

	#searchInput {
		width: 100%;
	}
}
