@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}
body {
	scroll-behavior: smooth;
	position: relative;
	z-index: 0;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: dimgray;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: black;
}
